<section class="mat-app-background page-section">
  <section class="header">
    <mat-toolbar>
      <span>Jazz Reborn</span>
      <span class="example-fill-remaining-space"></span>
      <span>Version 2.0</span>
    </mat-toolbar>
  </section>
  <section class="service-list-section">
    <div class="flex-center align-center">
      <button (click)="openSidebar()" class="graph-button">
        Create a Service
      </button>
    </div>
  </section>

  <app-sidebar (close)="createServiceSidebar = $event" [createServiceSidebar]="createServiceSidebar"></app-sidebar>

  <section class="graph-cover">
      <div class="flex-center align-center">
        <button (click)="chartOpen = true" class="graph-button">
          Open Graph
        </button>
      </div>
      <div class="popup-overlay flex-center align-center" *ngIf="chartOpen">
        <div class="popup-content">
            <i class="fa fa-times close-icon" aria-hidden="true" (click)="chartOpen = false;"></i>
            <app-graph></app-graph>
        </div>
      </div>
  </section>
</section>
<div>
  adding a section
</div>
<router-outlet></router-outlet>
