<section class="test-form">
    <form class="example-form">

      <div class="create-service-header">Create your service</div>
      <mat-form-field  class="example-full-width">
        <input matInput placeholder="Enter Service Name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Service Description"></textarea>
      </mat-form-field>

      <div class="slider-cover flex">
        <div class="slider-label">Choose number of deployment targets</div>
        <div class="mat-app-background basic-container background-white">
          <slider-configurable-example>loading</slider-configurable-example>
        </div>

      </div>


      <div class="flex-center align-center">
        <button (click)="openSnackBar(message,'OK',$event)" class="create-service-button">
          Create Service
        </button>
        <button (click)="onClose()" class="create-service-button">
          Close
        </button>
      </div>

    </form>
  </section>
<new-section>
    Adding a section for "region" in create-service
</new-section>

<new-section>
  Adding a section for "approvers" in internal repo
</new-section>