/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body{
  overflow-x: hidden;
}
.mat-snack-bar-handset{
    position: fixed;
    top: 0;
    width: auto;
}

.mat-snack-bar-handset{
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width:auto !important;
  .mat-snack-bar-container{
    background: #333333;
  }
  .mat-simple.snackbar{
    color:black;
  }
}

i{
  cursor: pointer;
}

.flex{
  display: flex;
}

.flex-center{
  display: flex;
  justify-content: center;
}
.align-center{
  display: flex;
  align-items: center;
  align-self: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.close-icon{
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
}

button{
  cursor: pointer;
  background: transparent;
  outline:none;
  padding:1rem 2rem;
  border:1px solid #666;
  color:#666;
  border-radius: 2rem;
  &:hover{
    color:#ed008c;
    border:1px solid #ed008c;
    transform:scale(1.01);

  }
}
